body {
    font-family: Vazirmatn, sans-serif;
    direction: rtl;
    background-color: #fdfbe4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    background-color: #e0f7fa;
    padding: 10px;
    border-radius: 5px;
    color: #00796b;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="checkbox"] {
    margin-left: 10px;
}

button {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

button:hover {
    background-color: #004d40;
}

.add-task {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.add-task input {
    flex: 1;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task-text {
    flex: 1;
    margin: 0 10px;
}
input{
    font-family: Vazirmatn, sans-serif;
}